
body{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 29%, rgba(255,255,255,1) 100%);
}
main{
    border: 15px solid black;
}

p {
    padding-left: 800px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
}

div {
    height: 100%;
    padding-left: 600px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    margin-bottom: 17px; 
    margin-top: 50px;
    color: #ffffff;
}

select {
    margin-left: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
}

 label {
    margin-left: 30px
}

input {
    margin-left: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
}
footer {
    background-color: #000000;
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: center; 
    width: 100%;   
    font-size: 19px;
    font-weight: bold;
    color: #ffffff;
}
                
